<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>New Login Form</title>
  <link rel="stylesheet" href="css/style.css">
 
</head>
<body>
  
      <h1>User Creation</h1>
      <form action="newuser.php" method="post" >
        <input type="text" name="user" value="" placeholder="Username">
        <br>
        <input type="password" name="pass" value="" placeholder="Password">
      <br>
              <input type="text" name="crn" value="" placeholder="CRN">
        <br>
        <input type="submit" value="Create Account">
      
    </div>
</form>
  </section>

  
</body>
</html>