


<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Delete</title>
  
  <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
  <style type='text/css'>
    SELECT, INPUT[type="text"] {
    width: 200px;
    box-sizing: border-box;
}
SECTION {
    padding: 20px;
    background-color: white;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 1px;
}
SECTION > DIV + DIV {
    width: 80px;
    text-align: center;
}
  </style>
  


<script type='text/javascript'>//<![CDATA[ 
$(function(){
$("#btnLeft").click(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#leftValues").append(selectedItem);
    console.log($('#file'));
});

$("#btnRight").click(function () {
    var selectedItem = $("#leftValues option:selected");
    $("#rightValues").append(selectedItem);
    console.log($('#file'));
});

$("#rightValues").change(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#txtRight").val(selectedItem.text());

    console.log($('#file'));
});
});//]]>  

</script>


</head>
<body>
  <h1>Delete / Add Page</h1>
<h3>To delete a decoment move it from the right column to  the left column using the arrows<p>
    </p>To add a decoment move it from the left column to  the right column using the arrows 
 </h3>
<section class="container">
    
    <div>
        <select id="leftValues" size="20" multiple>
            <option>Document 1</option>
            <option>Document 2</option>
            <option>Document 3</option>
            <option>Document 4</option>
            <option>Document 5</option>
            <option>Document 6</option>
            <option>Document 7</option>
            <option>Document 8</option>
            <option>Document 9</option>
            <option>Document 10</option>
        </select>
    </div>
    <div>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <input type="button" id="btnLeft" value="&lt;&lt;" />
        <br>
        </br>
        <input type="button" id="btnRight" value="&gt;&gt;" />
    </div>
    <div>
        <select id="rightValues" size="20" multiple>
        </select>
    </div>
</section>


<form action="demo_form.asp">
  Select a file: <input id="file" type="file" name="img">
  <input type="submit">
</form>


    <script>
        // Add events
        $('input[type=file]').on('change', prepareUpload);

        // Grab the files and set them to our variable
        function prepareUpload(event)
        {
            files = event.target.files;
            console.log(event);
            console.log(files);
        }
        $('form').on('submit', uploadFiles);

        // Catch the form submit and upload the files
        function uploadFiles(event)
        {
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening
            console.log(event);
            // START A LOADING SPINNER HERE

            // Create a formdata object and add the files
            var data = new FormData();
            console.log(data);
            $.each(files, function(key, value)
            {
                data.append(key, value);
            });
            console.log(data);
        }
        </script>
</body>


</html>

