
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/redmond/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/display.js"></script>
    <% if (user.USERTYPE <= 1) { %>
        <script src="js/jquery.contextMenu.js"></script>
        <script src="js/jquery.ui.position.js"></script>
        <link rel="stylesheet" href="css/jquery.contextMenu.css">
        <script src="js/edit.js"></script>

    <% } %>
    <title>CLASH- <%= user.USERNAME %></title>
	<script>
		var json;
		var tokenDelimiter = 'ˇ';
	$(function() {
		 
		$("#resizable").resizable({
		aspectRatio: 16 / 9
		});
		$( "#button" ).button();
		$( "#read" ).button();
		$('#characterLeft').text('30000 characters remaining');
		$('#resizable').keyup(function () {
				var max = 30000;
				var len = $(this).val().length;
			
			if (len >= max) {
				$('#characterLeft').text(' you have reached the limit');
			} else {
			var ch = max - len;
				$('#characterLeft').text(ch + ' characters remaining');
			}
		});
		
	});
	</script>
  </head>
  
  <body>
       <div id="nav">
	  	<img src="images/ClashLogo.png" alt="CLASH" style="width:250px;height:188px">
		<br />
		<select>
		<option>Document1</option>
		<option>Document2</option>
		<option>Document3</option>
		</select>
		<br />

		<br />

		<input type="checkbox" id="Slash" onclick="hideSlash(this.checked)" />			<span>S/l/a/s/h</span><br />
		<input type="checkbox" id="Exception" onclick="boldException(this.checked)" />				<span style="font-weight:bold">Exception</span><br />
        <input type="checkbox" id="vocab" onclick="showVocab(this.checked)">           <span style="font-style:italic">Vocabulary</span><br />
        <input type="checkbox" id="stress" onclick="showStress(this.checked)">           <span style="font-weight: bold">Stress</span><br />
        <input type="checkbox" id="edit" onclick="addClick(this.checked)">           <span>Edit Mode</span><br />
        <input type="checkbox" id="postrigger" onclick="enablePOS(this.checked);" /> <span>Parts-of-speech</span><br />
        <div id="pos">
            <input type="checkbox" id="All" onclick="toggleAllPOS(this.checked);" />  <span class='All'>All</span><br />
            <input type="checkbox" id="Noun" onclick="changeColor(this)" />            <span class='Noun'>Noun</span><br />
            <input type="checkbox" id="Pronoun" onclick="changeColor(this)" />        <span class='Pronoun'>Pronoun</span><br />
            <input type="checkbox" id="Verb" onclick="changeColor(this)" />           <span class='Verb'>Verb</span><br />
            <input type="checkbox" id="Adverb" onclick="changeColor(this)" />         <span class='Adverb'>Adverb</span><br />
            <input type="checkbox" id="Adjective" onclick="changeColor(this)" />      <span class='Adjective'>Adjective</span><br />
            <input type="checkbox" id="Conjunction" onclick="changeColor(this)" />   <span class='Conjunction'>Conjunction</span><br />
            <input type="checkbox" id="Preposition" onclick="changeColor(this)" />   <span class='Preposition'>Preposition</span><br />
            <input type="checkbox" id="Article" onclick="changeColor(this)" />        <span class='Article'>Article</span><br />
        </div>


      </div>
      <div id="dash">
		<form action="" style="float: right;padding-top: 3px">
          <input type="submit" value="Login" />
        </form>
      </div>
      <div id="section">
        <h2>Insert Text Below</h2>
		<div id="enter">
		<textarea id="resizable" cols="30" rows="10" wrap="physical" name="text" maxlength="30000" placeholder="Enter text to CLASH"></textarea>
		<div for="resizable" id="characterLeft"></div>
			<button type="button" id="button">CLASH IT!</button>
			<button type="button" id="read" onclick="startReader()">Start Read</button>
            <input type="file" val="select a file" id="select" />
            <button type="button" id="upload">Upload</button>
		</div>
		<div id ='content' class="printable" style ="font-size:30px">

		</div>
      </div>



    <script>

		var socket = io.connect('http://esl-clash.cs.odu.edu',{ path: '/socket.io' });
	  $('#button').click(function(){
		console.log('trying to emit...');
		socket.emit('text', $('#resizable').val());
		console.log($('#resizable').val());
		//$('#resizable').val('');
		socket.on('response', function(msg){
			console.log('response recieved ' + msg);
			json = JSON.parse(msg);
			var str =parseJSON(json);
			document.getElementById("content").innerHTML = str;
			hideSlash();
            if($('#edit')[0]['checked']!=true){
                $('#edit').trigger('click');
            }
		});


	  });

        $('#select').on('change', prepareUpload);

        // Grab the files and set them to our variable
        function prepareUpload(event)
        {
            files = event.target.files;
            console.log(event);
            console.log(files);
        }

        $('#upload').on('click', uploadFiles);

        // Catch the form submit and upload the files
        function uploadFiles(event)
        {
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening
            console.log('upload');
            socket.emit('file',files);
        }

		</script>
  </body>
</html>
