<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/authentication"
                  enctype="application/x-www-form-urlencoded"
                  method="get">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Remember Me</label>-->
                    <!--<input type="checkbox" class="form-control" name="remember" value="yes">-->
                <!--</div>-->

                <button id='submit' type="submit" class="btn btn-warning btn-lg">Login</button>
                <br />
            </form>

            <hr>
            <button id="demo" class="btn btn-warning btn-lg">Try CESR with a dummy class</button>
            <script>
                $('#demo').click(function(){
                    var input =$('.form-control').val('instructor');
//                    console.log(input);
//                    console.log(input[0].val());
//                    input[1].innerText='instructor';
                    $('#submit').trigger('click');
                })
            </script>
        </div>
    </div>
</body>
</html>
