
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/redmond/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>

    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/style.css">

    <!--<script src="/squirt/frame.inner.js"></script>-->



    <script>
        var json;var sq={};


    </script>
    <script src="js/display.js"></script>
    <script src="js/console.js"></script>
    <script src="js/cache.js"></script>
    <script src="/squirt/squirt.js"></script>

    <% if (user.USERTYPE <= 1) { %>
        <script src="js/jquery.contextMenu.js"></script>
        <script src="js/jquery.ui.position.js"></script>
        <script src="js/api.js"></script>
        <link rel="stylesheet" href="css/jquery.contextMenu.css">
        <script src="js/edit.js"></script>
    <% } %>
    <title>CLASH- <%= user.USERNAME %></title>
    <style>
        p {
            text-indent: 50px;
        }
    </style>
</head>

<body style="overflow-y:hidden;">
<div id="main-tabs" style="height:95%">
    <div id="message" style ="text-align: center;">

    </div>
    <!--  tab header -->
    <ul id="tabHeader">
        <li><a href="#read-tab">Read</a></li>
        <li><a href="#statistic-tab">Statistic</a></li>
        <% if (user.USERTYPE <= 1) { %>
        <li><a href="#upload-tab">Upload</a></li>
        <li><a href="#management-tab">Management</a></li>
        <% } %>
        <li><a href="#setting-tab">Setting</a></li>
        <li class="last" style="float:right"><a href="/logout">Logout</a></li>
    </ul>



    <% include main/readingTab.ejs %>

    <% include main/statistic.ejs %>

    <% include main/setting.ejs %>
    <% if (user.USERTYPE <= 1) { %>
        <% include main/upload.ejs %>
        <% include main/management.ejs %>


    <% } %>
</div>
<iframe src="squirt/views/iframe.html" class="sq-frame sq-trans" style="border: 0px; display: block;">

</iframe>

<script src="js/event.js"></script>
<% if (user.USERTYPE <= 1) { %>
    <script src="js/eventI.js"></script>

    <% if( user.USERTYPE==0) { %>
        <script src="js/eventA.js"></script>
    <% } %>
<% } %>
<script>
    $(".reload").click();
    initSquirt();
</script>



</body>
</html>
