
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/redmond/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>

    <link rel="stylesheet" href="css/main-style.css">

    <script src="js/display.js"></script>
    <script src="js/console.js"></script>
    <script src="js/cache.js"></script>

    <% if (user.USERTYPE <= 1) { %>
        <script src="js/jquery.contextMenu.js"></script>
        <script src="js/jquery.ui.position.js"></script>
        <script src="js/event.js"></script>
        <script src="js/api.js"></script>
        <link rel="stylesheet" href="css/jquery.contextMenu.css">
        <script src="js/edit.js"></script>
    <% } %>
    <title>CLASH- <%= user.USERNAME %></title>

</head>

<body>
<div id="main-tabs" style="height:95%">
    <div id="message" style ="text-align: center;">

    </div>
    <!--  tab header -->
    <ul id="tabHeader">
        <li><a href="#read-tab">Read</a></li>
        <li><a href="#statistic-tab">Statistic</a></li>
        <% if (user.USERTYPE <= 1) { %>
        <li><a href="#upload-tab">Upload</a></li>
        <li><a href="#management-tab">Management</a></li>
        <% } %>
        <li class="last" style="float:right"><a href="/logout">Logout</a></li>
    </ul>



    <div id="read-tab" class="tab-content">

        <div id ='content' class="printable" style ="font-size:30px">
            Please select <% if (user.USERTYPE <= 1) { %> or Slash <% } %>a document.
        </div>
        <% if (user.USERTYPE <= 1) { %>
        <div id="editBar" style="">
            <input type="text" id="newException" name="exception" placeholder="Exception" size="8" />
            <button id="addEx">add</button>
            <span style="float:right">

            <input type="text" id="filename" placeholder="File Name" size="16" />
                <button id="saveFile" >Save</button>

                </span>

        </div>
        <% } %>

        <div id="nav-wrapper">
            <div id="nav">
                <img src="images/logo.png" alt="CLASH" style="max-width: 200px">
                <br />
                <select id="classSelector"  class="classList" style="width:200px">
                    <option value="" disabled selected>Load your class</option>
                </select>
                <input type ="image" id="reloadReadClass" class="reload" src="images/refresh.png" style="width:20px;vertical-align:middle"/>
                <br />
                <select id="fileSelector"  style="width:200px">
                    <option value="" disabled selected>Select your Class</option>
                </select>

                <br />
                <br />

                <button type="button" id="read" onclick="startReader()">Start Read</button> <br />


                <input type="checkbox" id="postrigger" onclick="enablePOS(this.checked);" /> <span>Parts-of-speech</span><br />
                <div id="pos">
                    <input type="checkbox" id="All" onclick="toggleAllPOS(this.checked);" />  <span class='All'>All</span><br />
                    <input type="checkbox" id="Noun" onclick="changeColor(this)" />            <span class='Noun'>Noun</span><br />
                    <input type="checkbox" id="Pronoun" onclick="changeColor(this)" />        <span class='Pronoun'>Pronoun</span><br />
                    <input type="checkbox" id="Verb" onclick="changeColor(this)" />           <span class='Verb'>Verb</span><br />
                    <input type="checkbox" id="Adverb" onclick="changeColor(this)" />         <span class='Adverb'>Adverb</span><br />
                    <input type="checkbox" id="Adjective" onclick="changeColor(this)" />      <span class='Adjective'>Adjective</span><br />
                    <input type="checkbox" id="Conjunction" onclick="changeColor(this)" />   <span class='Conjunction'>Conjunction</span><br />
                    <input type="checkbox" id="Preposition" onclick="changeColor(this)" />   <span class='Preposition'>Preposition</span><br />
                    <input type="checkbox" id="Article" onclick="changeColor(this)" />        <span class='Article'>Article</span><br />
                </div>
                <input type="checkbox" id="vocab" onclick="showVocab(this.checked)">           <span style="font-style:italic">Vocabulary</span><br />
                <input type="checkbox" id="stress" onclick="showStress(this.checked)">           <span style="font-weight: bold">Stress</span><br />
                <input type="checkbox" id="Exception" onclick="boldException(this.checked)" />                              <span style="font-weight:bold">Exception</span><br />
                <input type="checkbox" id="Slash" onclick="hideSlash(this.checked)" />                      <span>S/l/a/s/h</span><br />
                <% if (user.USERTYPE <= 1) { %>
                <input type="checkbox" id="edit" onclick="addClick(this.checked)">           <span>Edit Mode</span>
                <% } %>
            </div>
        </div>


    </div>

    <div id="statistic-tab" class="tab-content">
        <div id="recordSelector">
            <select id="classSelector2" class="classList">
                <option value="" disabled selected>Select your class</option>
            </select>
            <input type ="image" id="reloadRecordClass" class="reload" src="images/refresh.png" style="width:20px;vertical-align:middle"/>
            <select id="studentSelector">
                <option value="" disabled selected>Select your student</option>
            </select>
        </div>
        <button id="reloadRecord">Reload Data</button>
        <hr />
        <div id="recordDisplay">

        </div>
        <script>

        </script>
    </div>
    <% if (user.USERTYPE <= 1) { %>
    <div id="upload-tab" class="tab-content">
        <div id="section">
            <div id="enter">
                <h2>Insert Text Below</h2>
                    <textarea id="resizable" cols="60" rows="10"
                              wrap="physical" name="text" maxlength="30000" placeholder="Enter text to SLASH"></textarea>
                <div for="resizable" id="characterLeft"></div>
                <button type="button" id="button">SLASH IT!</button>



                <!--<button type="button" id="upload">Upload</button>-->
            </div>
            <hr />
            <br />
            <form id="uploadFile" action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".docx,.txt" /><br /><br />
                <input type="submit" />
            </form>
        </div>

    </div>

    <div id="management-tab" class="tab-content">

        <div id="manageTabs" style="height:85%">
            <ul id="nest-tabHeader">
                <li ><a href="#class-tab">Class</a></li>
                <li><a href="#student-tab">Student</a></li>
                <li><a href="#file-tab">File</a></li>
                <li><a href="#exception-tab">Exception</a></li>
                <li><a href="#user-tab">User</a></li>
            </ul>
            <div id="class-tab" class="tab-content">

                <div class="left add" style="width:30%">
                    <h1>Create Class</h1>
                    <br />
                    <form id="addClass">
                        <input type="text" name="crn" value="" placeholder="CRN" >
                        <br />
                        <input type="text" name="classname" value="" placeholder="Class Name">
                        <br />
                        <input type="text" name="instructor" value="" placeholder="instructor (optional)" /><br />
                        <input type="submit" value="Create Class" />
                    </form>
                </div>
                <% if(user.USERTYPE==0){%>
                <div class="verticalLine">
                </div>
                <div class="right delete" style="width:60%">
                    <h1>Class Management</h1>
                    <div class="container">
                        <div>
                            <h3>Class List</h3>
                            <select id="leftClass" size="10">
                                <option>Class 1</option>
                                <option>Class 2</option>
                            </select>
                        </div>

                        <div class="center">
                            <br /><br /><br /><br />
                            <button id="reloadClass" class="reload" >Reload Class</button> <br /><br /><br />
                            <button id="submitDeleteClass">Delete Class</button>
                        </div>
                    </div>

                </div>
                <% } %>
            </div>
            <div id="student-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Student Management</h1>
                    <div class="container">
                        <div>
                            <h3>Class List</h3>
                            <select id="leftClass2" size="10">
                                <option>Class 1</option>
                                <option>Class 2</option>
                                <option>Class 3</option>
                            </select>
                        </div>
                        <div class="center"></div>
                        <div>
                            <h3>Student List</h3>
                            <select id="leftStudent" size="10" multiple>
                                <option>Select a class</option>
                            </select><br /><br />
                            <input type="text" id="studentField" placeholder="student1,student2," /><br /><br />
                            <button id="addStudentToClass">Add Student</button>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="studentRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="studentLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightStudent" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <button id="reloadClass2" class="reload">Reload Class</button> <br /><br /><br /><br />
                            <button id="submitDeleteStudent">Remove Student</button><br /><br />

                        </div>
                    </div>

                </div>
            </div>
            <div id="file-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Delete File</h1>
                    <div class="container">
                        <div>
                            <h3>File List</h3>
                            <select id="leftFile" size="10" multiple>
                                <option>File 1</option>
                                <option>File 2</option>
                                <option>File 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="fileRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="fileLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightFile" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <button type="button" id="reloadFile" class="reload">Reload Files</button> <br /><br /><br />
                            <button type="button" id="submitDeleteFile">Delete File</button>
                        </div>


                    </div>

                </div>
            </div>
            <div id="exception-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Delete Exception</h1>
                    <div class="container">
                        <div>
                            <h3>Exception List</h3>
                            <select id="leftException" size="10" multiple>
                                <option>Exception 1</option>
                                <option>Exception 2</option>
                                <option>Exception 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="exceptionRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="exceptionLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightException" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <button type="button" id="reloadException" class="reload">Reload Data</button> <br /><br /><br />
                            <button type="button" id="submitDeleteException">Delete Exception</button><br /><br /><br />
                            <input type="button" class="print" value="Print" />

                        </div>
                    </div>

                </div>
            </div>
            <div id="user-tab" class="tab-content" style="overflow-y: scroll;height:80%;">
                <div class="left add" style="width:25%">
                    <h1>User Creation</h1>
                    <br />
                    <form id="addUser">
                        <input type="text" name="username" value="" placeholder="Username" >
                        <br />
                        <input type="password" id='addUserPassword' name="password" value="" placeholder="Password">
                        <br />
                        <input type="checkbox" onchange="document.getElementById('addUserPassword').type =
                                this.checked ? 'text' : 'password'"> Show password
                        <br />
                        <select name="usertype">
                            <% if(user.USERTYPE==0) {%>
                            <option value="0">Admin</option>
                            <option value="1">Instructor</option>
                            <%}%>
                            <option value="2" selected="selected">Student</option>
                        </select>
                        <br>
                        <input type="submit" value="Create Account">
                    </form>
                </div>
                <% if(user.USERTYPE==0){%>
                <div class="verticalLine">
                </div>
                <div class="right delete" style="width:60%">
                    <h1>Delete User</h1>
                    <div class="container">
                        <div>
                            <h3>User List</h3>
                            <select id="leftUser" size="10" multiple>
                                <option>User 1</option>
                                <option>User 2</option>
                                <option>User 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="userRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="userLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightUser" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />

                            <button type="button" id="reloadUser" class="reload">Reload Data</button> <br /><br /><br />
                            <button type="button" id="submitDeleteUser">Delete User</button>
                        </div>
                    </div>

                </div>
                <% } %>
            </div>
        </div>

    </div>

    <% } %>
</div>
<script>
    var socket = io.connect('http://esl-clash.cs.odu.edu',{ path: '/socket.io' });
    <% if (user.USERTYPE <= 1) { %>

    function instructorBinding(){
        //delete script
        registerDel('leftException','exceptionLeftButton','rightException','exceptionRightButton');
        registerDel('leftFile','fileLeftButton','rightFile','fileRightButton');
        registerDel('leftStudent','studentLeftButton','rightStudent','studentRightButton');

        addUser("#addUser",function(data){
            if(data.error)
                showError('Error: '+data.error.code);
            else{
                showMessage('Account created!');
            }
            console.log(data);
        });
        addClass("#addClass",function(data){
            if(data.error)
                showError('Error: '+data.error.code);
            else{
                showMessage('Class created!');
            }
        });

        $('#uploadFile').on('submit',function(ev){
            ev.preventDefault();
            var formData = new FormData($('#uploadFile')[0]);
            console.log(formData.fileName);
             //$('#uploadFile').val('');
            //formData.reset();
            $.ajax({
                url: '/',  //Server script to process data
                type: 'POST',
                success: function(data){
                    console.log("ajax success:" + data);
                    console.log(data);
                    
                    socket.emit('file', 'do it!');
                    console.log("socket reponse sent to kick off file processing");

                        socket.on('response', function(msg){
                            console.log('response recieved ' + msg);
                            json = JSON.parse(msg);
                            var str =parseJSON(json);
                            changeContent(str);
                            hideSlash();
                            if($('#edit')[0]['checked']!=true){
                                $('#edit').trigger('click');
                            }
                            $( "#main-tabs" ).tabs( "option", "active", 0 );
                    });



                },
                error: function(data){
                    console.log(data);
                },
                // Form data
                data: formData,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false
            });

        });
        $('#saveFile').on('click',function(){
            var name = $('#filename').val().trim();
            if(name.length==0){
                alert('Please enter a valid filename.');
                return ;
            }
            var contents = JSON.stringify(json);
            console.log(contents);
            $.post('api/addFile',{filename: name,contents:contents},function(data){
                if(data.error)
                    showError(data.error);
                else{
                    $('#filename').val('');
                    showMessage('File Saved as "'+name+'"');
                }
            })
        });



        bindLoad('reloadUser','leftUser','api/listUser?',function(obj){
            return obj.USERNAME +'('+(obj.USERTYPE==2?'S':obj.USERTYPE==1?'I':'A')+')';
        });

        bindLoad('reloadClass2','leftClass2','api/listClass?',function(obj){
            return obj.CRN+'-'+obj.CLASSNAME;
        });
        $('#leftClass2').on('change',function(ev){
            var crn =ev.currentTarget.selectedOptions[0].innerHTML.split('-')[0];
            $.get('api/listStudent?crn='+crn,function(data){
                var select= $('#leftStudent');
                var right = $('#rightStudent');
                console.log(data);
                if(data.error){
                    showError(data.error);
                }else{
                    select.text('');
                    right.text('');
                    for(var i=0;i<data.data.length;i++){
                        var option = document.createElement('option');
                        option.text =data.data[i].USERNAME;
                        addToUser(data.data[i].USERNAME,data.data[i].USERID);
                        select.append(option);
                    }
                }
            });
        });

        $('#addStudentToClass').on('click',function(ev){
            var raw = $('#studentField').val();
            var students =raw.split(',');
            var selected  = $('#leftClass2 option:selected')[0];
            if(!selected){
                alert('Please select a class before add student.');
            }
            var crn = selected.innerHTML.split("-")[0];
            for(var i=0;i<students.length;i++)
                $.get('api/addStudent?student='+students[i]+'&crn='+crn,function(data){
                    if(data.error)
                        onError(data);
                    else{
                        var option = document.createElement('option');
                        console.log(data);
                        var result = data.data;
                        option.text =result.USERNAME;
                        addToUser(result.USERNAME,result.USERID);
                        $('#leftStudent').append(option);
                    }
                });
        });

        bindLoad('reloadFile','leftFile','api/getFiles?',function(obj){
            if(obj.USERNAME)
                return obj.FILENAME+'('+obj.USERNAME+')';
            return obj.FILENAME;
        });

        bindLoad('reloadException','leftException','api/printException?',function(obj){
            return obj.EX_STR+'('+obj.COUNT+')';
        });

        bindDel('submitDeleteUser','rightUser','api/delUser?username=',removeParen,onError);
        bindDel('submitDeleteException','rightException','api/delException?exception=',removeParen,onError);
        bindDel('submitDeleteFile','rightFile','api/delFile?filename=',function(item){
            var split = item.innerHTML.split('(');
            if(split.length==1)
                return split[0];
            else
                return split[0]+'&username='+split[1].split(')')[0];
        },onError);
        bindDel('submitDeleteStudent','rightStudent','api/delStudent?student=',function(item){
            var studentid = user[item.innerHTML];
            var crn = $('#leftClass2 option:selected')[0].innerHTML.split("-")[0];
            console.log('delete student '+studentid+' from '+ crn);
            return studentid+'&crn='+crn;
        },onError);


        addException('#addEx',function(data){
            if(data.error)
                showError(data.error);
            else{
                showMessage('Exception Added.');
                $('#newException').val('');
            }
        },$('#newException'));
    }
    instructorBinding();
    <% if( user.USERTYPE==0) { %>
    function adminOnlyBinding(){
        registerDel('leftUser','userLeftButton','rightUser','userRightButton');
        //delete class loading
        bindLoad('reloadClass','leftClass','api/listClass?',function(obj){
            return obj.CRN+'-'+obj.CLASSNAME;
        });
        $('#submitDeleteClass').on('click',function(ev){
            var item =  $("#leftClass option:selected")[0];
            $.get('api/delClass?crn='+item.innerHTML.split('-')[0],function(data){
                if(data.error){
                    if(data.error.code)
                        showError(data.error.code);
                    else
                        showError(data.error);
                }else{
                    item.remove();
                }
            })
        });
    }
    adminOnlyBinding();
    <% } %>
    //var socket = io.connect('http://esl-clash.cs.odu.edu',{ path: '/socket.io' });
    $('#button').click(function(){
        console.log('trying to emit...');
        socket.emit('text', $('#resizable').val());
        console.log($('#resizable').val());
        //$('#resizable').val('');
        socket.on('response', function(msg){
            console.log('response recieved ' + msg);
            json = JSON.parse(msg);
            var str =parseJSON(json);
            changeContent(str);

            $( "#main-tabs" ).tabs( "option", "active", 0 );
        });


    });
<% } %>

    $('#reloadReadClass').on('click',function(){
        $.get('api/listClass?',function(data){
            var select= $('#classSelector');
            var select2= $('#classSelector2');
            console.log(data);
            if(data.error){
                showError(data.error);
            }else{
                var o = document.createElement('option');
                o.text= 'Select a class';
                o.disabled = 'disabled';
                o.selected ='selected';
                select.text('');
                select2.text('');
                select.append(o);
                var o2 = document.createElement('option');
                o2.text= 'Select a class';
                o2.disabled = 'disabled';
                o2.selected ='selected';
                select2.append(o2);
                for(var i=0;i<data.data.length;i++){
                    var option = document.createElement('option');
                    option.text =data.data[i].CLASSNAME;
                    option.value=data.data[i].CRN;
                    var option2 = document.createElement('option');
                    option2.text =data.data[i].CLASSNAME;
                    option2.value=data.data[i].CRN;
                    select.append(option);
                    select2.append(option2);
                }
            }
        })
    });
    $('#classSelector').change(function(ev){
        var crn = this.selectedOptions[0].value;
        $.get('api/getFiles?crn='+crn,function(data){
            var select= $('#fileSelector');
            console.log(data);
            if(data.error){
                showError(data.error);
            }else{
                var o = document.createElement('option');
                o.text= 'Select a File';
                o.disabled = 'disabled';
                o.selected ='selected';
                select.text('');
                select.append(o);
                for(var i=0;i<data.data.length;i++){
                    var option = document.createElement('option');
                    option.text =data.data[i].FILENAME;
                    option.value=data.data[i].USERID;
                    console.log(option.text+'  '+option.value);
                    select.append(option);
                }
            }
        })
    });
    $('#fileSelector').change(function(ev){
        var crn = $('#classSelector')[0].selectedOptions[0].value;
        var instructor = this.selectedOptions[0].value;
        var filename = this.selectedOptions[0].innerHTML;
        if(file[instructor]&&file[instructor][filename]){  // if cache exist
            changeContent(file[instructor][filename]);
        }else {
            $.get('api/getFile?crn=' + crn + '&filename=' + filename+'&userid='+instructor, function (data) {
                console.log(data);
                if (data.error)
                    showError(data.error);
                else {
                    try {
                        json = JSON.parse(data.data[0].JSON);
                        var str = parseJSON(json);
                        addTofile(data.data[0].FILENAME, data.data[0].USERID, str);
                        changeContent(str);

                    }catch(e){
                        console.log(e);
                        document.getElementById("content").innerHTML ='Error parsing the document: '+filename;
                    }
                }
            });
        }
    });



    $(function() {
        $( "#main-tabs" ).tabs();
        $("li.last a").unbind('click');
        $( "#manageTabs" ).tabs();
        $("button").button();
        $(".reload").click();
    });

</script>

</body>
</html>
