
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/redmond/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/upload.js"></script>
    <link rel="stylesheet" href="css/main-style.css">

    <script src="js/display.js"></script>
    <script src="js/console.js"></script>
    <% if (user.USERTYPE <= 2) { %>
    <script src="js/jquery.contextMenu.js"></script>
    <script src="js/jquery.ui.position.js"></script>
    <script src="js/event.js"></script>
    <script src="js/api.js"></script>
    <link rel="stylesheet" href="css/jquery.contextMenu.css">
    <script src="js/edit.js"></script>

    <% } %>
    <title>CLASH- <%= user.USERNAME %></title>

</head>

<body>
<div id="main-tabs" style="height:95%">
    <!--  tab header -->
    <ul id="tabHeader">
        <li><a href="#read-tab">Read</a></li>
        <li><a href="#statistic-tab">Statistic</a></li>
        <li><a href="#upload-tab">Upload</a></li>
        <li><a href="#management-tab">Management</a></li>
    </ul>


    <div id="read-tab" class="tab-content">

        <div id ='content' class="printable" style ="font-size:30px">
            This is a test
        </div>
        <div id="editBar">
            <input type="text" id="newException" name="exception" placeholder="Exception" size="8" />
            <button id="addEx">add</button>
            <span style="float:right">

            <input type="text" id="filename" placeholder="File Name" size="16" />
                <button id="saveFile" >Save</button>

                </span>

        </div>
        <div id="nav-wrapper">
            <div id="nav">
                <img src="images/logo.png" alt="CLASH" style="width:150px;height:113px">
                <br />
                <select>
                    <option>Document1</option>
                    <option>Document2</option>
                    <option>Document3</option>
                </select>
                <br />
                <br />

                <button type="button" id="read" onclick="startReader()">Start Read</button> <br />


                <input type="checkbox" id="edit" onclick="addClick(this.checked)">           <span>Edit Mode</span><br />
                <input type="checkbox" id="Slash" onclick="hideSlash(this.checked)" />                      <span>S/l/a/s/h</span><br />
                <input type="checkbox" id="Exception" onclick="boldException(this.checked)" />                              <span style="font-weight:bold">Exception</span><br />
                <input type="checkbox" id="vocab" onclick="showVocab(this.checked)">           <span style="font-style:italic">Vocabulary</span><br />
                <input type="checkbox" id="stress" onclick="showStress(this.checked)">           <span style="font-weight: bold">Stress</span><br />
                <input type="checkbox" id="postrigger" onclick="enablePOS(this.checked);" /> <span>Parts-of-speech</span><br />
                <div id="pos">
                    <input type="checkbox" id="All" onclick="toggleAllPOS(this.checked);" />  <span class='All'>All</span><br />
                    <input type="checkbox" id="Noun" onclick="changeColor(this)" />            <span class='Noun'>Noun</span><br />
                    <input type="checkbox" id="Pronoun" onclick="changeColor(this)" />        <span class='Pronoun'>Pronoun</span><br />
                    <input type="checkbox" id="Verb" onclick="changeColor(this)" />           <span class='Verb'>Verb</span><br />
                    <input type="checkbox" id="Adverb" onclick="changeColor(this)" />         <span class='Adverb'>Adverb</span><br />
                    <input type="checkbox" id="Adjective" onclick="changeColor(this)" />      <span class='Adjective'>Adjective</span><br />
                    <input type="checkbox" id="Conjunction" onclick="changeColor(this)" />   <span class='Conjunction'>Conjunction</span><br />
                    <input type="checkbox" id="Preposition" onclick="changeColor(this)" />   <span class='Preposition'>Preposition</span><br />
                    <input type="checkbox" id="Article" onclick="changeColor(this)" />        <span class='Article'>Article</span><br />
                </div>
            </div>
        </div>


    </div>

    <div id="statistic-tab" class="tab-content">
        statistic information
    </div>

    <div id="upload-tab" class="tab-content">
        <div id="section">
            <div id="enter">
                <h2>Insert Text Below</h2>
                    <textarea id="resizable" cols="60" rows="10"
                              wrap="physical" name="text" maxlength="30000" placeholder="Enter text to SLASH"></textarea>
                <div for="resizable" id="characterLeft"></div>
                <button type="button" id="button">SLASH IT!</button>



                <!--<button type="button" id="upload">Upload</button>-->
            </div>
            <hr />
            <br />
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" val="select a file" id="select" name="files" accept=".doc,.docx" /><br /><br />
                <input type="submit" />
            </form>
        </div>

    </div>

    <div id="management-tab" class="tab-content">
        <div id="message" style ="text-align: center;">

        </div>
        <div id="manageTabs" style="height:85%">
            <ul id="nest-tabHeader">
                <li><a href="#class-tab">Class</a></li>
                <li><a href="#student-tab">Student</a></li>
                <li><a href="#file-tab">File</a></li>
                <li><a href="#exception-tab">Exception</a></li>
                <li><a href="#user-tab">User</a></li>
            </ul>
            <div id="class-tab" class="tab-content">

                <div class="left add" style="width:30%">
                    <h1>Create Class</h1>
                    <br />
                    <form id="addClass">
                        <input type="text" name="crn" value="" placeholder="CRN" >
                        <br />
                        <input type="text" name="classname" value="" placeholder="Class Name">
                        <br />
                        <input type="text" name="instructor" value="" placeholder="instructor (optional)" /><br />
                        <input type="submit" value="Create Class" />
                    </form>
                </div>
                <div class="verticalLine">
                </div>
                <div class="right delete" style="width:60%">
                    <h1>Class Management</h1>
                    <div class="container">
                        <div>
                            <h3>Class List</h3>
                            <select id="classLeft" size="10">
                                <option>Class 1</option>
                                <option>Class 2</option>
                            </select>
                        </div>

                        <div class="center">
                            <br /><br /><br /><br />
                            <!--<input type="button" class="reload" value="Reload Data"/> <br /><br /><br />-->
                            <input type="button" class="submit" value="Delete Class"/>
                        </div>
                    </div>

                </div>
            </div>
            <div id="student-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Delete File</h1>
                    <div class="container">
                        <div>
                            <h3>Class List</h3>
                            <select id="leftValues" size="10">
                                <option>Class 1</option>
                                <option>Class 2</option>
                                <option>Class 3</option>
                            </select>
                        </div>
                        <div class="center"></div>
                        <div>
                            <h3>Student List</h3>
                            <select id="leftStudent" size="10" multiple>
                                <option>Student 1</option>
                                <option>Student 2</option>
                                <option>Student 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="studentRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="studentLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightStudent" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <input type="button" class="reload" value="Reload Data"/> <br /><br /><br />
                            <input type="button" class="submit" value="Delete File"/>
                        </div>
                    </div>

                </div>
            </div>
            <div id="file-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Delete File</h1>
                    <div class="container">
                        <div>
                            <h3>File List</h3>
                            <select id="leftFile" size="10" multiple>
                                <option>File 1</option>
                                <option>File 2</option>
                                <option>File 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="fileRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="fileLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightFile" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <button type="button" id="reloadFile">Reload Files</button> <br /><br /><br />
                            <button type="button" id="submitDeleteFile">Delete File</button>
                        </div>


                    </div>

                </div>
            </div>
            <div id="exception-tab" class="tab-content">
                <div class="right delete" style="width:100%">
                    <h1>Delete Exception</h1>
                    <div class="container">
                        <div>
                            <h3>Exception List</h3>
                            <select id="leftException" size="10" multiple>
                                <option>Exception 1</option>
                                <option>Exception 2</option>
                                <option>Exception 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="exceptionRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="exceptionLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightException" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />
                            <button type="button" id="reloadException" >Reload Data</button> <br /><br /><br />
                            <button type="button" id="submitDeleteException">Delete Exception</button><br /><br /><br />
                            <input type="button" class="print" value="Print" />

                        </div>
                    </div>

                </div>
            </div>
            <div id="user-tab" class="tab-content" style="overflow-y: scroll;height:80%;">
                <div class="left add" style="width:25%">
                    <h1>User Creation</h1>
                    <br />
                    <form id="addUser">
                        <input type="text" name="username" value="" placeholder="Username" >
                        <br />
                        <input type="password" id='addUserPassword' name="password" value="" placeholder="Password">
                        <br />
                        <input type="checkbox" onchange="document.getElementById('addUserPassword').type =
                                this.checked ? 'text' : 'password'"> Show password
                        <br />
                        <select>
                            <% if(user.USERTYPE==0) {%>
                            <option value="0">Admin</option>
                            <option value="1">Instructor</option>
                            <%}%>
                            <option value="2" selected="selected">Student</option>
                        </select>
                        <br>
                        <input type="submit" value="Create Account">
                    </form>
                </div>
                <div class="verticalLine">
                </div>
                <div class="right delete" style="width:60%">
                    <h1>Delete User</h1>
                    <div class="container">
                        <div>
                            <h3>User List</h3>
                            <select id="leftUser" size="10" multiple>
                                <option>User 1</option>
                                <option>User 2</option>
                                <option>User 3</option>
                            </select>
                        </div>
                        <div class="center">  <br /><br /><br /><br />
                            <input type="button" id="userRightButton" value="&gt;&gt;"/><br /> <br />
                            <input type="button" id="userLeftButton" value="&lt;&lt;"/>
                        </div>
                        <div>
                            <h3>Remove List</h3>
                            <select id="rightUser" size="10" multiple>
                            </select>
                        </div>
                        <div class="center">
                            <br /><br /><br /><br />

                            <button type="button" id="reloadUser" >Reload Data</button> <br /><br /><br />
                            <button type="button" id="submitDeleteUser">Delete User</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>

    //delete script
    registerDel('leftUser','userLeftButton','rightUser','userRightButton');
    registerDel('leftException','exceptionLeftButton','rightException','exceptionRightButton');
    registerDel('leftFile','fileLeftButton','rightFile','fileRightButton');
    registerDel('leftStudent','studentLeftButton','rightStudent','studentRightButton');

    addUser("#addUser",function(data){
        if(data.error)
           showError('Error: '+data.error.code);
        else{
           showMessage('Account created!');
        }
        console.log(data);
    });
    addClass("#addClass",function(data){
        if(data.error)
            showError('Error: '+data.error.code);
        else{
            showMessage('Class created!');
        }
    });

    $('#saveFile').on('click',function(){
        var name = $('#filename').val();
        var contents = JSON.stringify(json);
        console.log(contents);
        $.get('api/addFile?filename='+name+'&contents='+contents,function(data){
            console.log(data);
        })
    });

    bindLoad('reloadUser','leftUser','api/listUser?',function(obj){
        return obj.USERNAME +'('+(obj.USERTYPE==2?'S':obj.USERTYPE==1?'I':'A')+')';
    });
    bindLoad('reloadFile','leftFile','api/getFiles?',function(obj){
        if(obj.USERNAME)
            return obj.FILENAME+'('+obj.USERNAME+')';
        return obj.FILENAME;
    });

    bindLoad('reloadException','leftException','api/printException?',function(obj){
        return obj.EX_STR+'('+obj.COUNT+')';
    });

    bindDel('submitDeleteUser','rightUser','api/delUser?username=',removeParen,onError);
    bindDel('submitDeleteException','rightException','api/delException?exception=',removeParen,onError);
    bindDel('submitDeleteFile','rightFile','api/delFile?filename=',function(item){
        var split = item.innerHTML.split('(');
        if(split.length==1)
            return split[0];
        else
            return split[0]+'&username='+split[1].split(')')[0];
    },onError);

    addException('#addEx',function(data){
        console.log(data);
    },$('#newException'));



    $(function() {
        $( "#main-tabs" ).tabs();
        $( "#manageTabs" ).tabs();
        $("button").button();
    });
    var socket = io.connect('http://esl-clash.cs.odu.edu',{ path: '/socket.io' });
    $('#button').click(function(){
        console.log('trying to emit...');
        socket.emit('text', $('#resizable').val());
        console.log($('#resizable').val());
        //$('#resizable').val('');
        socket.on('response', function(msg){
            console.log('response recieved ' + msg);
            json = JSON.parse(msg);
            var str =parseJSON(json);
            document.getElementById("content").innerHTML = str;
            hideSlash();
            if($('#edit')[0]['checked']!=true){
                $('#edit').trigger('click');
            }
            $( "#main-tabs" ).tabs( "option", "active", 0 );
        });


    });






</script>
</body>
</html>
