@media print {

}
body{
    height: 100%;
    width: auto;

}
#nav {
    top:70px;
    bottom:5%;
    left:20px;
    font-size:0.9em;
    font-family:sans-serif;
    line-height:30px;
    float:left;
    position:fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width:250px;
}

#editBar {
    top: 90%;
    bottom:5%;
    left: 20%;
    float:left;
    position:fixed;
    width:70%;
}

.tab-content {
    height:100%;
}
span .word:hover {
    -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}

html,body { height: 100%; margin: 0 0 0 0; padding: 5px 5px 5px 5px; overflow-y:hidden;}

#content p {
    text-indent: 50px;
}

#content {
    /*float:left;*/
    padding:10px;
    /*position: absolute;*/
    margin-left: 225px;
    overflow-y:auto;
    height:75%;
}

#pos{
    margin-left:15px;
    display:none;

}
/* add css*/
.add {
    width: 100%;
    height: 100%;
    float: left;

    line-height:40px;
}


/* delete css  */
.delete select{
    width: 200px;
    height:250px;
    overflow: auto;
    box-sizing: border-box;
}

#file-tab select{
    width: 400px;
    height:250px;
    overflow: auto;
    box-sizing: border-box;
}

.delete {
    margin-left: 20px;
}
.container {
    overflow-y: auto;
}
.container > DIV {
    float: left;
}
.center { /* center buttons */
    margin:2px 20px 2px 20px;
}

.tab-content h1,.tab-content h3{
    margin: 2px 0 10px 0;
}

.right {
    float: left;
}

.left {
    float: left; /* not needed, just for clarification */
    overflow: hidden;
}


div.verticalLine{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 95%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
    margin:10px 20px 10px 20px;

}