@media print {
    /* Removes unwanted elements */
    #nav, #dash, #enter
    {
        display: none;
    }

    /* printable elements */
    .printable
    {
        width: 100%; margin: 0; float: none;
    }
}

#dash {
    text-align:left;
    padding: 50px;
    height: 15%;
    position: relative;
    margin-left: 20%;
}
#nav {
    top: 0;
    bottom:0;
    line-height:30px;
    float:left;
    position:fixed;
    overflow-y: auto;
    overflow-x: hidden;
}
#section {
    /*width:75%;*/
    /*height: 20%;*/
    float:left;
    padding:10px;
    /*position: absolute;*/
    margin-left: 20%;
    /*margin-top: 5%;*/
}

.white-font{
	color:white;
}

span .word:hover {
	-webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}
p {
	text-indent: 50px;
}

#resizable { width: 500px; height: 300px; padding: 0.5em; }
#resizable h3 { text-align: left; margin: 0; }

#content {
	margin-bottom: 2cm;
	margin-right: 2cm;
}

#pos{
    margin-left:15px;
    display:none;

}
.btn-warning{
    /*background-color: #0000cc;*/
    border-color:#0000cc;
}