<div id="beta-tab" class="tab-content">
    <select id="fileType">
        <option value="odu">ODU Enrollment File(username=ODU email, password = UIN)</option>
        <option value="csv">CSV(username,password,first name, last name)</option>
    </select>

    <input type="file" id="csvOpen" />
    <br /><br />
                <textarea id="fileContent" cols="80" rows="10">

                </textarea>
    <br /><br />
    <button id="batchCreate">Create Accounts</button>
    <br />

                <textarea id="displayStudent" cols="80" rows="5" wrap="soft">

                </textarea>

</div>