<div id="class-tab" class="tab-content">

    <div class="left add" style="width:25%">
        <h1>Create Class</h1>
        <br />
        <form id="addClass">
            <input type="text" name="crn" value="" placeholder="CRN" required />
            <br />
            <input type="text" name="classname" value="" placeholder="Class Name" required />
            <br />
            <!--<input type="text" name="instructor" value="" placeholder="instructor (optional)" /><br />-->
            <input type="submit" value="Create Class" />
        </form>
    </div>
    <% if(user.USERTYPE==0){%>
    <div class="verticalLine">
    </div>
    <div class="right delete" style="width:60%">
        <h1>Class Management</h1>
        <div class="container">
            <div>
                <h3>Class List</h3>
                <select id="leftClass" size="10">
                    <option>Class 1</option>
                    <option>Class 2</option>
                </select>
            </div>

            <div class="center">
                <br /><br /><br /><br />
                <button id="reloadClass" class="reload cls" >Reload Class</button> <br /><br /><br />
                <button id="submitDeleteClass">Delete Class</button>
                <button class="getToken">Get Invite Link</button>
                <input class="link"value="" >
            </div>
        </div>

    </div>
    <% } else if( user.USERTYPE==1) { %>
    <div class="right delete" style="float:left">
        <div class="container">
            <div>
                <h3>Class List</h3>
                <select id="classPicker" size="15">
                </select>
                <br /><br />
                <button type="button" id="reloadClassPicker" class="reload class">Reload Classes</button>
                <button class="getToken">Get Invite Link</button>
                <br /><input class="link"value="" ><br /><br />
            </div>

            <div style="margin-left: 20px">
                <table>
                    <col width="100" />
                    <col width="300" />
                    <tr>
                        <th>Visible</th>
                        <th>File Name</th>
                    </tr>
                </table>
                <table id="ClassOption">
                    <col width="100" />
                    <col width="300" />
                </table>
            </div>

        </div>
    </div>
    <% }%>
    <script>
        $('.getToken').bind('click', function () {
            console.log($('#classPicker'));
//            $.get('api/getToken?',function(data){
//                var select= $('#classPicker');
//                if(data.error){
//                    onError(data);
//                }else{
//                    select.text('');
//                    for(var i=0;i<data.data.length;i++){
//                        var obj = data.data[i];
//                        var text = obj.CLASSNAME;
//                        var value = obj.CRN+tokenDelimiter+obj.USERID;
//                        var option = createOption(text,value);
//                        select.append(option);
//                    }
//                }
//            });
        });
    </script>
</div>