<div id="exception-tab" class="tab-content">
    <div class="right delete" style="width:100%">
        <h1>Delete Lexical Bundle</h1>
        <div class="container">
            <div>
                <h3>Lexical Bundle List</h3>
                <select id="leftException" size="10" multiple>
                    <option>Exception 1</option>
                    <option>Exception 2</option>
                    <option>Exception 3</option>
                </select>
            </div>
            <div class="center">  <br /><br /><br /><br />
                <input type="button" id="exceptionRightButton" value="&gt;&gt;"/><br /> <br />
                <input type="button" id="exceptionLeftButton" value="&lt;&lt;"/>
            </div>
            <div>
                <h3>Remove List</h3>
                <select id="rightException" size="10" multiple>
                </select>
            </div>
            <div class="center">
                <br /><br /><br /><br />
                <button type="button" id="reloadException" class="reload exc">Reload Data</button> <br /><br /><br />
                <button type="button" id="submitDeleteException">Delete Lexical Bundle</button><br /><br /><br />
                <input type="button" class="print" value="Print" />

            </div>
        </div>

    </div>
</div>