<div id="file-tab" class="tab-content">
    <div class="right delete" style="width:100%">
        <div class="container">
            <div>
                <h3>File List</h3>
                <select id="leftFile" size="15">
                </select>
                <br /><br />
                <button type="button" id="reloadFile" class="reload file">Reload Files</button>
                <button type="button" id="submitDeleteFile" class="delete file">Delete File</button> <br /><br /><br />
                <script>
                    $("#submitDeleteFile").click(function(){
                        var selected = $($('#leftFile').find(":selected")[0]);
                        var filename = selected.html();
                        $.get('api/delFile?filename='+filename,function(data){
                            if(data.error)
                                onError(data);
                            else{
                                selected.remove();
                            }
                        })
                    })
                </script>
            </div>

            <div id="wrapper" style="margin-left: 20px">
                <table>
                    <col width="100" />
                    <col width="200" />
                    <tr>
                        <th>Visible</th>
                        <th>Class Name</th>
                    </tr>
                </table>
                <table id="option">
                    <col width="100" />
                    <col width="200" />
                    <tr>
                        <th><input type="checkbox" val="test" /> </th>
                        <td>My test class</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>