<div id="file-tab" class="tab-content">
    <div class="right delete" style="width:100%">
        <h1>Delete File</h1>
        <div class="container">
            <div>
                <h3>File List</h3>
                <select id="leftFile" size="10" multiple>
                    <option>File 1</option>
                    <option>File 2</option>
                    <option>File 3</option>
                </select>
            </div>
            <div class="center">  <br /><br /><br /><br />
                <input type="button" id="fileRightButton" value="&gt;&gt;"/><br /> <br />
                <input type="button" id="fileLeftButton" value="&lt;&lt;"/>
            </div>
            <div>
                <h3>Remove List</h3>
                <select id="rightFile" size="10" multiple>
                </select>
            </div>
            <div class="center">
                <br /><br /><br /><br />
                <button type="button" id="reloadFile" class="reload file">Reload Files</button> <br /><br /><br />
                <button type="button" id="submitDeleteFile">Delete File</button>
            </div>


        </div>

    </div>
</div>