<div id="file-tab" class="tab-content">
    <div class="right delete" style="width:100%">
        <div class="container">
            <div>
                <h3>File List</h3>
                <select id="leftFile" size="15">
                </select>
                <br /><br />
                <button type="button" id="reloadFile" class="reload file">Reload Files</button> <br /><br /><br />
            </div>

            <div id="option" style="float:left">
                test
            </div>


        </div>
    </div>
</div>

<script>
    $('#reloadFile').click(function(){
        $.get('api/getFiles?',function(data){
            var select= $('#leftFile');
            if(data.error){
                onError(data);
            }else{
                select.text('');
                for(var i=0;i<data.data.length;i++){
                    var obj = data.data[i];
                    var text = obj.USERNAME? obj.FILENAME+'('+obj.USERNAME+')':obj.FILENAME;
                    var value = obj.FILEID+'-'+obj.USERID;
                    var option = createOption(text,value);
                    select.append(option);
                }
            }
        });
    });


    $("#leftFile").change(function(ev){
        var sp = $(this).find(':selected')[0].value.split('-');
        var fileid = sp[0];
        var userid = sp[1];
        $.get('api/getPermission?fileid='+fileid+'&instructor='+userid,function(data){
            console.log(data);
        })
    })
</script>