<div id="setting-tab" class="tab-content">
    <fieldset>
        <legend>Change Name</legend>
        <form id="changeName">
            <input type="text" name="fname" placeholder="First Name" required /><br /><br />
            <input type="text" name="lname" placeholder="Last Name" required /><br /><br />
            <input type="submit" />
        </form>
    </fieldset>
    <fieldset>
        <legend>Change Password</legend>
        <form id="changePassword">
            <input type="password" name="oldPass" placeholder="Old Password" required /><br /><br />
            <input type="password" name="password" placeholder="New Password" required /><br /><br />
            <input type="password" name="pwd2" placeholder="Confirm your password" required /><br /><br />
            <input type="submit" />
        </form>
    </fieldset>
</div>