<div id="upload-tab" class="tab-content">
    <div id="section">
        <div id="enter">
            <h2>Insert Text Below</h2>
                    <textarea id="resizable" cols="60" rows="10"
                              wrap="physical" name="text" maxlength="30000" placeholder="CESR (the Color-Enhanced Slash Reader) is designed to break the crippling habit of many English as a Second Language (ESL) students of word-by-word reading. Research has shown that the inability to read text in chunks, or phrase units, interferes with both reading speed and comprehension. While there are other applications that break sentences into chunks five or six words they often break the sentences in the middle of a phrase unit, which confuses students and interferes with comprehension. CESRReader identifies English phrase groups, and then present them in chunks of four to eight words, but never divides in the middle of a phrase group.

CESR also has other important functions for ESL readers. It can identify articles, pronouns, nouns and verbs, parts of speech critical for understanding sentences. To do this, one goes to a “Parts of Speech” radio button and clicks whatever part of speech you would like to highlight.

In addition to that, CESRReader allows instructors to modify slashes between phrase groups if they believe a division is incorrect. One simply clicks the right button of the mouse and a graphic shows up that allows one to add a slash, remove a slash, change a part of speech, or even add key vocabulary. These files can be downloaded to your computer, with the changes in tact, to be used during your class.

To see how CESRReader works, click “Slash it.” The slashes appear between phrase units. Click “Start Read” to see how CESRReader can project the text dynamically at increasing speeds.

When reading, you can use the up or down arrows to increase or decrease reading speed."></textarea>
            <div for="resizable" id="characterLeft"></div>
            <button type="button" id="button">SLASH IT!</button>



            <!--<button type="button" id="upload">Upload</button>-->
        </div>
        <hr />
        <br />
        <form id="uploadFile" action="/" method="post" enctype="multipart/form-data">
            <input id='fileInput' type="file" name="file" value="Select File to Upload.." accept=".docx,.doc,.txt" /><br /><br />
            <input type="submit" id="fileSubmit" />
        </form>
    </div>

</div>