<!DOCTYPE html>
<html class="html" style="height:100%">
<head>

    <link rel='stylesheet' href='/css/ss-pika.css'>
    <link rel='stylesheet' href='/css/frame.inner.css'>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body class="body" style="height:100%">
<div class="article-veil"></div>
<div class="modal" style="height:100%">
    <div class="drawer">
        <div class="drawer-content">

            <div class="font-selector">

                <input type="checkbox" id="wbw" value="Word by Word" /> <span>Word By Word</span>
                 <input type="checkbox" id="showGrey" /> <span>Show Grey</span> <br/>
                <!--<label for="wbw">Word by word</label>-->
                <input type="button" onclick="changeFont(-0.2);" value="Smaller Font" />
                <input type="button" onclick="changeFont(0.2);" value="Larger Font" />

                <br />

                <span>Min Word</span>  <input id="min" type="number" min="1" max="10" /><br />

                <span>Max Word</span>  <input id="max" type="number" min="2" max="15" />
            </div>

            <script>
                $("#wbw").change(function(){
                    changeNode(this.checked);
                });

                $('#showGrey').change(function(){
                    setGrey($(this)[0].checked);

                });
                $(document).ready(function(){
                    $("#max").val(getMax());
                    $("#min").val(getMin());
                });

                $("#max").change(function(){
                    var m = $("#max").val();
                    m = setMax(m);
                    $("#max").val(m);
                });

                $("#min").change(function(){
                    var m = $("#min").val();
                    m = setMin(m);
                    $("#min").val(m);
                })

            </script>


            <ul class='keyboard-shortcuts'>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>pause</i> &amp; <i class='ss-icon'>play</i>
              </span>
                    <span class='shortcut-key'>Spacebar</span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>rewind</i>
                WPM
                <i class='ss-icon'>fastforward</i>
              </span>
                    <span class='shortcut-key'><i class='ss-icon'>up</i><i class='ss-icon'>down</i></span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>rewind</i> &amp; <i class='ss-icon'>fastforward</i>
              </span>
                    <span class='shortcut-key'><i class='ss-icon'>left</i><i class='ss-icon'>right</i></span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>close</i>
              </span>
                    <span class='shortcut-key'>Escape</span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>settings</i>
              </span>
                    <span class='shortcut-key'>S</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbar">
        <ul class="menu segment">
            <li><i class="toolbar-settings btn ss-icon">settings</i></li>
        </ul>
        <div class="playback segment">
            <i class="btn pause ss-icon">pause</i>
            <div class="scrubber no-select">
                <span class="scrubber-bar scrubber-bar-left"></span>
                <span class="scrubber-bar scrubber-bar-right"></span>
                <i class="ss-icon scrubber-knob btn no-select">record</i>
            </div>
            <div class="time-to-read"></div>
        </div>
        <div class="wpm segment">
            <i class="ss-icon wpm-down btn">directleft</i>
            <div class="wpm-count no-select">&lt; {{ wpm }}</div>
            <i class="ss-icon wpm-up btn">directright</i>
        </div>

    </div>
    <div class="reader">

        <i class='close ss-icon'>close</i>
        <div class="carousel">
            <div class="focus-indicator-gap">&nbsp;</div>
            <ul class="nodes"></ul>
        </div>
        <div class="reader-content">
            <!--<img class='share-logo' src='/images/logo.png' style="width:250px;height:188px" />-->
            <!--<h3 class='tweet-preview'>-->
            <!--</h3>-->
        </div>

        <div class='keyboard-shortcuts' style='position:fixed;bottom:0px;right:10px'>
            <ul>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>pause</i> &amp; <i class='ss-icon'>play</i>
              </span>
                    <span class='shortcut-key'>Spacebar</span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>rewind</i>
                WPM
                <i class='ss-icon'>fastforward</i>
              </span>
                    <span class='shortcut-key'><i class='ss-icon'>up</i><i class='ss-icon'>down</i></span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>rewind</i> &amp; <i class='ss-icon'>fastforward</i>
              </span>
                    <span class='shortcut-key'><i class='ss-icon'>left</i><i class='ss-icon'>right</i></span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>close</i>
              </span>
                    <span class='shortcut-key'>Escape</span>
                </li>
                <li>
              <span class='shortcut-function'>
                <i class='ss-icon'>settings</i>
              </span>
                    <span class='shortcut-key'>S</span>
                </li>
            </ul>
        </div>


    </div>
</div>
<script src="../frame.inner.js"></script>
</body>
</html>
